
@{
    ViewBag.Title = "Index";
}

<!-- Jumbotron -->
<div class="jumbotron">
    <h1>Welcome sir or madam!</h1>
    <p class="lead">Welcome on web page which was created for "Software engineering" course in Faculty of Computer Science on West Pomeranian University of Technology </p>
    <p><a class="btn btn-lg btn-success" href="/User/Register" role="button">Start with registering new user</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
    <div class="col-lg-4">
        <h2>Blog</h2>
        <p>A blog (a truncation of the expression weblog) is a discussion or informational site published on the World Wide Web and consisting of discrete entries ("posts") typically displayed in reverse chronological order (the most recent post appears first). Until 2009 blogs were usually the work of a single individual, occasionally of a small group, and often covered a single subject. More recently "multi-author blogs" (MABs) have developed, with posts written by large numbers of authors and professionally edited. MABs from newspapers, other media outlets, universities, think tanks, advocacy groups and similar institutions account for an increasing quantity of blog traffic. The rise of Twitter and other "microblogging" systems helps integrate MABs and single-author blogs into societal newstreams. Blog can also be used as a verb, meaning to maintain or add content to a blog.</p>
        <p><a class="btn btn-primary" href="http://en.wikipedia.org/wiki/Blog" role="button">Learn more &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Software engineering</h2>
        Software engineering is the study and application of engineering to the design, development, and maintenance of software.

        Typical formal definitions of software engineering are:
        <ul>
            <li>"the application of a systematic, disciplined, quantifiable approach to the development, operation, and maintenance of software";</li>
            <li>"an engineering discipline that is concerned with all aspects of software production";</li>
            <li>and "the establishment and use of sound engineering principles in order to economically obtain software that is reliable and works efficiently on real machines."</li>
        </ul>
        
        <p><a class="btn btn-primary" href="http://en.wikipedia.org/wiki/Software_engineering" role="button">Learn more &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>West Pomeranian University of Technology</h2>
        <p>West Pomeranian University of Technology, Szczecin (Polish: Zachodniopomorski Uniwersytet Technologiczny w Szczecinie, ZUT) is a technical university in Szczecin, Poland.</p>
        <p><a class="btn btn-primary" href="http://www.zut.edu.pl/west-pomeranian-university-of-technology-szczecin/home/news/current-news.html" role="button">Learn more &raquo;</a></p>
    </div>
</div>

@section scripts{
    <script>
    $(function(){
        $("#nav-home").addClass('active');
    });
    </script>
}